{% extends "finnito.theme.sisscc::layouts.default" %}

{% block content %}
    <div class="card content p0 ~urge !low">
        <div class="section p1 ~urge !normal">
            <h1 class="heading">Forgot Password</h1>
        </div>
        <div class="p1">
            {% set form = form('forgot_password').redirect(request_get("redirect", url_previous())).get() %}
            {{ form.open|raw }}
                {{ form.fields|raw }}
                <button class="button ~urge !high" name="action" type="submit">Submit</button>
            {{ form.close|raw }}
        </div>
    </div>
{% endblock %}
