{% extends "finnito.theme.sisscc::layouts.default" %}

{% block content %}
    <h1 class="heading">{{ event.name }}</h1>
    <p>The scoreboard for this event is private. It will be made public closer to the event.</p>
{% endblock %}